@{
    ViewData["Title"] = Literals.Contact;
}
<h2>@ViewData["Title"].</h2>
<hr />
<h3>@Literals.AppTitle</h3>

<address>
    @Literals.AppVendor<br />
    <a href="@Literals.AppVendorWebSite" target="_blank">@Literals.AppVendorWebSite</a>
</address>

<address>
    <strong>@Literals.Support:</strong> <a href="mailto:@Literals.AppVendorEMail">@Literals.AppVendorEMail</a>
</address>

@section Scripts {
    <script type="text/javascript">
        $(function () { setActiveMenuItem("ContactMenuItem"); });
    </script>
}
