@model TicketsSoldViewModel

@{
    ViewBag.Title = Literals.TicketsSelled;
}

<h2>@Literals.TicketsSelled</h2>
<hr />
@if (Model.Errors.Count() <= 0)
{
    foreach (var item in Model.Tickets)
    {
        <div class="well well-lg" style="background-image: url(../../images/tickets256_BG.png); background-repeat: no-repeat; background-position: right;">
            <dl class="dl-horizontal">
                <dt>
                    @Literals.TicketId
                </dt>

                <dd>
                    @item.Id
                </dd>

                <dt>
                    @Literals.Location
                </dt>

                <dd>
                    @Literals.Entity_Seat_Row_DisplayName: @item.Seat.Row, @Literals.Entity_Seat_SeatNumber_DisplayName: @item.Seat.SeatNumber
                </dd>

                <dt>
                    @Literals.TicketPrice
                </dt>

                <dd>
                    @item.Price €
                </dd>

                <dt>
                    @Literals.Session
                </dt>

                <dd>
                    @item.Seat.Session.TimeAndDate
                </dd>

                <dt>
                    @Literals.SellDate
                </dt>

                <dd>
                    @item.TimeAndDate
                </dd>

            </dl>
        </div>
    }
}
else
{
    <div class="alert alert-danger">
        @Messages.SellFailed
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<hr />
<div>
    <a asp-action="Index" class="btn btn-sm btn-default">@Literals.Back</a>
</div>